<div class="container-fluid">


<div class="main-options-outer" >
<div class="main-options">
  <div class="row-fluid">
    <div class="span12">
 		<input type="text" placeholder="Question" onBlur="this.placeholder='Question'" onfocus="this.placeholder=''" ng-model="question" />
    </div>
    </div>
   
   <div class="row-fluid">
    <div class="span12">
 		<input type="text" ng-model="answer" placeholder="Answer" onBlur="this.placeholder='Answer'" onfocus="this.placeholder=''" />
    </div>
    </div>
    
    <div class="row-fluid">
    <div class="span12">
 		<input type="button" value='Delete' ng-click="deleteCard()" />
        <input type="button" value='<--' ng-click="preCard()" />
        <input type="button" value='-->' ng-clcik="nextCard()" />
        <input type="button" value='Save' ng-click="saveCard()" />
    </div>
    </div>
    </div>
    </div>
    
</div>