<!--Export deck HTML-->
<div class="container-fluid">
  <div class="main-options-outer" >
    <div class="main-options">
      <div class="row-fluid">
        <div class="span12">
          <input type="text" placeholder="Type file name here" onfocus="this.placeholder=''" onblur="this.placeholder='Type file name here'" />
        </div><!--end span12-->
      </div><!--end row-fluid-->
      <div class="row-fluid">
      </div><!--end row-fluid-->
      <div class="row-fluid">
        <div class="span6">
          <input type="button" value="Cancel" ng-click="cancel();" class="cancel-btn" />
        </div><!--end span6-->
        <div class="span6">
          <input type="button" value="Next" ng-click="next();" class="next-btn" />
        </div><!--end span6-->
      </div><!--end row-fluid-->
    </div><!--end main-options-->
  </div><!--end main-options-outer-->
</div><!--end container-fluid-->