
<div class="container-fluid">


<div class="main-options-outer" >
<div class="main-options">
<div class="option-itme"><a href="#/manageDecks"><p class="manage-decks-btn"></p>Manage Decks</a></div>
<div class="option-itme"><a href=""><p class="stats-btn"></p>Stats</a></div>


<div class="option-itme"><a href=""><p class="info-btn"></p>Info</a></div>
<div class="option-itme"><a href=""><p class="options-btn"></p>Options</a></div>

</div>
</div>
</div>
<div class="learn_tab_outer">
<a href="#/deckStudyList"><p class="learn_tab">Learn</p></a>

</div>