<!--Home page-->
<div class="container-fluid">
	<div class="main-options-outer" >
		<div class="main-options">
			<div class="option-itme">
				<!--Manage decks button-->
				<a href="#/manageDecks"><p class="manage-decks-btn"></p>Manage Decks</a>
			</div><!--end option-itme-->
			<div class="option-itme">
				<!--Stats button-->
				<a href=""><p class="stats-btn"></p>Stats</a>
			</div><!--end option-itme-->
			<div class="option-itme">
				<a href="">
					<!--Info button-->
					<p class="info-btn"></p>Info
				</a>
			</div><!--end option-itme-->
			<div class="option-itme">
				<a href="">
					<!--Options button-->
					<p class="options-btn"></p>Options
				</a>
			</div><!--end option-itme-->
		</div><!--end main-options-->
	</div><!--end main-options-outer-->
</div><!--end container-fluid-->

<div class="learn_tab_outer">
	<a href="#/deckStudyList">
		<p class="learn_tab">Learn</p>
	</a>
</div><!--end learn_tab_outer-->