<div class="container-fluid">


<div class="main-options-outer" >
<div class="main-options">
  <div class="row-fluid">
    <div class="span12">
 <input type="text" placeholder="" onfocus="this.placeholder=''" onblur="this.placeholder=''" />
    </div>
    </div>
     <div class="row-fluid">
     
      </div>
       <div class="row-fluid">
      <div class="span1">
       
            <input type="button" value="Cancel" ng-click="cancel();" class="cancel-btn"/>
            </div>
            <div class="span2">
            <input type="button" value="Next" ng-click="next();" class="next-btn"/>
		</div>
       
	</div>
</div>
</div>
</div>