 <div class="container-fluid">


<div class="main-options-outer" >
<div class="main-options">
<ul class="nav nav-list" >
  <li class="manage-deck-option"><a href="#/createDeck"><div class="create-deck manage-deck-icon"></div>Create</a></li>
  <li class="manage-deck-option"><a href="#/decksListEdit"><div class="edit-deck manage-deck-icon"></div>Edit</a></li>
  <li class="manage-deck-option"><a href="#/decksListDelete"><div class="delete-deck manage-deck-icon"></div>Delete</a></li>
  <li class="manage-deck-option"><a href="#/download"><div class="download-deck manage-deck-icon"></div>Download</a></li>
  <li class="manage-deck-option"><a href="#/import"><div class="import-deck manage-deck-icon"></div>Import</a></li>
  <li class="manage-deck-option"><a href="#/export"><div class="export-deck manage-deck-icon"></div>Export</a></li>
  <li class="manage-deck-option"><a href="#/decksList"><div class="list-deck manage-deck-icon"></div>List Cards</a></li>
  <li class="manage-deck-option"><a href="#/purchaseDeck"><div class="purchase-deck manage-deck-icon"></div>Purchase</a></li>
</ul>
</div>
</div>
</div>