<!--Manage Desks HTML-->
<div class="container-fluid">
	<div class="main-options-outer" >
		<div class="main-options">
			<ul class="nav nav-list" >
				<li class="manage-deck-option">
					<a href="#/createDeck">
						<!--Link for create new deck-->
						<div class="create-deck manage-deck-icon"></div>Create
					</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/decksListEdit">
						<!--Link for edit deck-->
						<div class="edit-deck manage-deck-icon"></div>Edit
					</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/decksListDelete">
						<!--Link for delete deck-->
						<div class="delete-deck manage-deck-icon"></div>Delete
					</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/download">
						<!--Link for download deck-->
						<div class="download-deck manage-deck-icon"></div>Download
					</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/import">
						<!--Link for import deck-->
						<div class="import-deck manage-deck-icon"></div>Import</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/export">
						<div class="export-deck manage-deck-icon"></div>Export</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/decksList">
						<!--Link for list of decks-->
						<div class="list-deck manage-deck-icon"></div>List Cards
					</a>
				</li><!--end manage-deck-option-->
				<li class="manage-deck-option">
					<a href="#/purchaseDeck">
						<!--Link for purchase deck-->
						<div class="purchase-deck manage-deck-icon"></div>Purchase
					</a>
				</li><!--end manage-deck-option-->
			</ul><!--end nav nav-list-->
		</div><!--end main-options-->
	</div><!--end main-options-outer-->
</div><!--end container-fluid-->