/* app css stylesheet */

*{
  padding: 0;
  margin:0;
}
body
{
	margin:0;
	padding:0;
	background-color:#fff7d2;
	font-family:'Helvetica';
}

input[type='search']
{
	width:310px;
	height:42px;
	border:1px solid #000000;
}
input[type='text']
{
	width:268px;
	height:42px;
	border:1px solid #d2bd9b;
	margin-bottom:15px;
	padding-left: 10px;
}
.learn_tab_outer
{
	height:67px;
	background-color:#f2e6bd;
	width:100%;
	position:fixed;
	bottom:0px;
	
}
.learn_tab
{
	text-align:center;
	width:100%;
	background-color:#814f00;
	height:43px;
	line-height:43px;
	color:#fff;
	text-decoration:none;
	margin-top:12px;
	font-size:16px;
}
a:hover, a:active,a
{
	text-decoration:none ;
}
.main-options-outer
{
	float: left;
	width: 100%;
	height: 290px;
	text-align: center;
	margin-top:20px;
}
.main-options
{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.main-options li a
{
	text-decoration:none;
	color: #814f00;

}
.option-itme
{
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 40px;
}
.option-itme a
{
	color:#814f00;
}
.manage-deck-option
{
	float: left;
	width: 30%;
	height: 110px;
	list-style:none;
	margin-left: 30px;
	margin-bottom:5px;
	text-align:center;

}
.manage-deck-option img
{
	height: 76px;
	clear: both;

}
.option-itme p
{
	height: 76px;
	width: 100%;
	background-size: 76px;
	background-repeat: no-repeat;
	background-position: center;
}
#header-back-btn
{
	float: left;
	width: 70px;
	left:0px;
	position: absolute;
	z-index: 1;
	font-size:14px;
	color:#fff;
}
#header-back-btn img
{
	height: 22px;
	margin-top: 13px;
	float: left;
	margin-left: 5px;
	
}
#header-home-btn
{
	right:0px;
	width: 70px;
	position: absolute;
	z-index: 1;
	color:#fff;
	font-size:14px;
}
#main-title
{
	float: left;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size:16px;
}
.manage-deck-icon
{
	background-size: 76px;
	background-repeat: no-repeat;
	height: 80px;
	width: 96px;
	text-align: center;
	background-position: center;
}
.helpbtn
{
	position:absolute;
	bottom:0;
	right:10px;
}
.home_header
{
	background:#814f00;
	height:45px;
	text-align:center;
	color:#fff;
	line-height:45px;
}

.purchaseList a
{
	float:left;
}
.purchaseList p
{
	float:left;
	margin-left:30px;
	margin-top:3px;
}
.purchaseList
{
	float:left;
	width:300px;
	
}
.deck-study-list input
{
	float:left;
	margin-left:10px;
}
.deck-study-list p
{
	float:left;
}
.deck-study-list
{
	float:left;
	width:100%;
}
.save-btn,
.next-btn,
.cancel-btn
{
	background:#814f00;
	width:130px;
	height:45px;
	line-height:45px;
	color:#fff;
	text-align:center;
	border:1px solid #6b4200;
	-webkit-appearance:none;
	appearance:none;
	float:left;
	margin-left:20px;
	font-size: 15px;
	margin-top:10px;
}
.purchase-cancel,
.downlaod-cancel
{
	margin-left:90px;
}
.main-options li
{
	list-style:none;

} 
.deck-delete-list
{
	float:left;
	height:20px !important;
	width:20px !important;
	margin-right:20px;
}
.decks-list
{
	text-align:left;
	min-height:50px;
	border-bottom:1px solid #dcc6a2;
	line-height:50px;
	padding-left: 10px;
	margin-left:5px;
	margin-right:5px;
}
