<!--Create deck HTML-->
<div class="container-fluid">
  <div class="main-options-outer" >
    <div class="main-options">
      <div class="row-fluid">
        <div class="span12">
          <!--input box to get the set name-->
          <input type="text"  ng-model="setname"  placeholder="Type Set Name" onfocus="this.placeholder=''" onblur="this.placeholder='Type Set Name'"  />
        </div><!--End span12-->
      </div><!--End row-fluid-->
      <div class="row-fluid">
        <div class="span12">   
          <!--input box to get the category-->    
          <input type="text"   ng-model="category"   placeholder="Type Category" onfocus="this.placeholder=''" onblur="this.placeholder='Type Category'" />
        </div><!--End span12-->
      </div><!--End row-fluid-->
      <div class="row-fluid">
        <div class="span6">
          <!--Cancel button-->
          <input type="button" value="Cancel"  ng-click="cancel();" class="cancel-btn" />
        </div><!--End span6-->
      <div class="span6">
        <!--Button to create new deck -->
        <input type="button" ng-if="path=='/createDeck'" value="Next" ng-click="create(setname,category);" class="next-btn" />
         <!--Button to save existing deck -->
        <input type="button" ng-if="path!='/createDeck'" value="Save" ng-click="save(setname,category);" class="save-btn" />
      </div><!--End span6-->
      </div><!--End row-fluid-->
    </div><!--End main-options-->
  </div><!--End main-options-outer-->
</div><!--End container-fluid-->