<!--Deck Study List HTML-->
<!--container-fluid-->
<div class="container-fluid">
	<div class="main-options-outer" >
		<div class="main-options">
			<div class="row-fluid">
				<input type="button" value="Continue Previous" />
			</div><!--end row-fluid-->
			<div class="row-fluid">
				<ul class="nav nav-list">
					<!--decks study list-->
					<label ng-repeat="deck in decksStudyList" class="deck-study-list">
						<input type="checkbox" checklist-model="user.deckStudyList" checklist-value="deck"> <p>{{deck.name}}</p>
					</label>
				</ul><!--end nav nav-list-->
			</div><!--end row-fluid-->
			<div class="row-fluid">
				<input type="button" value="Start Session" />
			</div><!--end row-fluid-->
		</div><!--end main-options-->
	</div><!--end main-options-outer-->
</div><!--end container-fluid-->